/*navigation bar code*/
#nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 30px;
  float: center;
  margin: 0px 250px 0px 250px;
}

#nav ul li a {
	text-decoration: none;
	color: white;
	font-family: "Merriweather Sans", "sans-serif";
	font-size: 30px;
	padding: 10px;
}

#nav ul li a:hover {
	border-style: solid;
	border-color: #68E500;
	border-radius: 5px;
	font-size: 30px;
	font-family: "Merriweather Sans", "sans-serif";
	color: white;
	transition: background-color 0.5s ease;
	background-color: #68E500;
}

/*header code*/
#head_img {
	background-image: url("../images/joy_of_cha_edit.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	background-position: center;
	background-attachment: fixed;

}

#head_img img {
	position: relative;
	top: 100px;
	left:410px;
}

#h_divide {
	background-color: #419000;
	width: 100%;
	height: 10px;
}

/*about code*/
#about {
	background-image: url("../images/joc_inside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
}

#about h1 {
	color: #419000;
	text-shadow: 2px 2px black;
	font-family: "Merriweather Sans", "sans-serif";
	font-size: 50px;
	padding: 200px 0px 20px 50px;
	transition: all 0.8s ease;
}

#about p {
	color: white;
	text-shadow: 2px 2px black;
	font-size: 28px;
	padding: 0px 50px 30px 50px;
	word-spacing: 6px;
	line-height: 35px;
	font-weight: 800;
	font-family:  'Montserrat', sans-serif;
	transition: all 0.8s ease;
}
 
.aboutc.cont h1 {
	opacity: 0;
}

.aboutc.cont p {
	opacity: 0;
}

/*gallery code*/
#gallery {
	background-color: #68E500;
	height: 400px;
	width: 100%;
	display: flex;
}

.main {
	width: 98%;
	display: block;
	margin: 0 auto;
	height: 350px;
	background-color: white;
	align-self: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 4px black;
	border-radius: 5px;
}

.long_container {
	height: 100%;
}

.item {
	height: 100%;
	width: 250px;
	float: left;

}

.see_prev {
	height: 100%;
	width: 50px;
	position: absolute;
	left: 0;
	display: flex;
	background-color: rgba(255,255,255,0.5);
}

.arrow_prev {
	width: 100%;
	align-self: center;
}

.see_next {
	height: 100%;
	width: 50px;
	position: absolute;
	right: 0;
	display: flex;
	background-color: rgba(255,255,255,0.5);
}

.arrow_next {
	width: 100%;
	align-self: center;
}

#one,#two,#three,#four,#five,#six,#seven,#eight,#nine {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#one {
	background-image: url("../images/pizza.jpg");
}

#two {
	background-image: url("../images/bisquit.jpg");
}

#three {
	background-image: url("../images/bread.jpg");
}

#four {
	background-image: url("../images/chiara-pinna.jpg");
}

#five {
	background-image: url("../images/coffee.jpg");
}

#six {
	background-image: url("../images/food1.jpg");
}

#seven {
	background-image: url("../images/croissants.jpg");
}

#eight {
	background-image: url("../images/cup.jpg");
}

#nine {
	background-image: url("../images/food2.jpg");
}

/*menu code*/
#menu {
	background-color: #419000;
	height: 600px;
	color: white;
}

#menu h1 {
	text-align: center;
	width: 80%;
	float: right;
	padding: 20px 0pc 100px 0px;
	font-family: "Merriweather Sans", "sans-serif";
	font-size: 50px;
}

.menu_nav {
	height: 100%;
	width: 12%;
	background-color: white;
	float: left;
}

.menu_nav ul {
	display: block;
	line-height: 150px;
	text-decoration: none;
	text-align: center;
	font-size: 40px;
	padding-top: 70px;
}

.menu_nav ul li a{
	color: #028500;
	font-family: "Merriweather Sans", "sans-serif";
	text-decoration: none;
}

.menu_nav ul li a:hover {
	color: white;
	background-color: #419000;
	padding: 40px 50px 40px 45px;
	transition: background-color 0.2s ease;
}

.menu_nav ul li a:focus {
	color: white;
	background-color: #419000;
	padding: 40px 50px 40px 45px;
	transition: background-color 0.2s ease;
}


/*
.menu_nav ul li a:hover:nth-of-type(2) {
	color: white;
	background-color: yellow;
	padding: 10px 5px 10px 5px;
}

.menu_nav ul li a:hover:nth-child(3) {
	color: white;
	background-color: #419000;
	padding: 10px 50px 10px 50px;
}
*/

/*contact code*/
#contact {
	background-color: #028500;
	height: 600px;
	width: 100%;
}