/*navigation bar code*/
#nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 30px;
  float: center;
  margin: 0px 250px 0px 250px;
}

#nav ul li a {
	text-decoration: none;
	color: white;
	font-family: "Merriweather Sans", "sans-serif";
	font-size: 30px;
	padding: 10px;
}

#nav ul li a:hover {
	border-style: solid;
	border-color: #68E500;
	border-radius: 5px;
	font-size: 30px;
	font-family: "Merriweather Sans", "sans-serif";
	color: white;
	transition: background-color 0.5s ease;
	background-color: #68E500;
}

/*header code*/
#head_img {
	background-image: url("../images/joy_of_cha_edit.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	background-position: center;
	background-attachment: fixed;

}

#head_img img {
	position: relative;
	top: 100px;
	left:410px;
}

#h_divide {
	background-color: #419000;
	width: 100%;
	height: 10px;
}

/*about code*/
#about {
	background-image: url("../images/joc_inside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
}

#about h1 {
	color: #419000;
	text-shadow: 2px 2px black;
	font-family: "Merriweather Sans", "sans-serif";
	font-size: 50px;
	padding: 200px 0px 20px 20px;
	transition: all 0.8s ease;
}

#about p {
	color: white;
	text-shadow: 2px 2px black;
	font-size: 28px;
	padding: 0px 10px 30px 20px;
	padding-right: ;
	font-family: helvetica, verdana, sans-serif;
	transition: all 0.8s ease;
}

.aboutc.cont h1 {
	opacity: 0;
}

.aboutc.cont p {
	opacity: 0;
}

/*gallery code*/
#gallery {
	background-color: #68E500;
	height: 600px;
	width: 100%;
}

/*menu code*/
#menu {
	background-color: white;
	height: 600px;
	width: 100%;
}

/*contact code*/
#contact {
	background-color: #028500;
	height: 600px;
	width: 100%;
}